.carousels {
    height: 100vh !important;
    width: 100vw !important;
}

.carousel_container_content {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(163, 163, 163);
}

.carousel {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.video-controls button {
    background-color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.video-controls button:hover {
    background-color: #ddd;
}

.video-controls button.active-control {
    background-color: #1977b6;
    color: #ffffff;
}

.video-controls input[type="range"] {
    width: 200px;
    cursor: pointer;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.prev {
    margin-left: 6px;
}

.next {
    margin-right: 6px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-indicators {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #ddd;
}

.btnPlayOrMuteCarousel {
    color: gray;
    font-size: 16px;
}

.fa_pulsar {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


@media (max-width: 768px) {
    video {
        object-fit: cover;
    }
}